[user]
	name = Sham Kazemi-Joestani
	email = sham.kazemi-joestani@epita.fr
[core]
	excludesfile = ~/.gitignore
	editor = emacs -nw

[color]
	ui = true
	branch = auto
	diff = auto
        status = auto

[push]
	default = simple

[commit]
	verbose = true
[pull]
	rebase = true
